{%- if image != blank -%}
  <a
    class='unstyled-link {{ class }}'
    href='{{ routes.root_url }}'
    aria-label='{% if image.alt != blank %}{{ image.alt }}{% else %}{{ shop.name }}{% endif %}'
  >
    <img
      {{ attrs }}
      {% render 'image-attributes', image: image, size: 'medium', class: 'logo-img' %}
    >
  </a>
{%- elsif logo_text != blank -%}
  <a
    class='logo-text {{ class }}'
    href='{{ routes.root_url }}'
    aria-label='{% if image.alt != blank %}{{ image.alt }}{% else %}{{ shop.name }}{% endif %}'
  >
    {{- shop.name -}}
  </a>
{%- endif -%}
