{%- liquid
    assign options = section.settings

    assign section_spacing_top = options.section_spacing_top
    assign section_spacing_bottom = options.section_spacing_bottom
    assign container_size = options.container_size
    assign alignment = options.alignment
    assign title = options.title
    assign heading_size = options.heading_size
    assign heading_size_mobile = options.heading_size_mobile
    assign link_text_size = options.link_text_size
    assign link_text_size_mobile = options.link_text_size_mobile
    assign view_all_text = options.view_all_text
    assign view_all_text_size = options.view_all_text_size
    assign block_title_font_weight = options.block_title_font_weight
    assign show_all_btn = options.show_all_btn
    assign redirection_new_tab = options.redirection_new_tab
    assign view_all_link = options.view_all_link
    assign section_bg_color = options.section_bg_color
    assign link_container_bg_color = options.link_container_bg_color
    assign image_container_bg_color = options.image_container_bg_color

    assign mobile_swipe = options.mobile_swipe
    assign image_container_bg_color_mobile = options.image_container_bg_color_mobile
    assign section_bg_color_mobile = options.section_bg_color_mobile

  -%}

{% capture css %}
    {% style %}
    .section-{{section.id}}{
            --gsc-section-spacing-top: {{ section_spacing_top }}px;
            --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }
    @media screen and (min-width: 768px) {
        .hover_image-change__container {
            background-color: {{ section_bg_color }} !important;
        }
        .hover_image-change__blocks {
            background-color: {{ link_container_bg_color }} !important;
        }
    }
    .hover_image-change__container {
        background-color: {{ section_bg_color_mobile }};
    }
    .hover_image-change__blocks {
            background-color: unset;
        }
    .hover_image__container {
        background-color: {{ image_container_bg_color }};
    }
    .hover_image__link--link_text, .hover_image__link--view-all-link_text {
        font-weight: {{ block_title_font_weight }};
    }

    .block_image__container {
        background-color: {{ image_container_bg_color_mobile }};
    }

    {% endstyle %}
{% endcapture %}

{{ 'hover-image-change.css' | asset_url | stylesheet_tag }}
{%- render 'inline-css-minifier', css: css -%}

<div class='hover_image-change__container container section section-{{ section.id }} container--{{ container_size }} section-spacing'>
    {%- if title != blank -%}
      <div class='hover_image-change__header{% if alignment == 'center' %} hover_image-change__header--center{% endif %}'>
        <h2 class='hover_image-change__title {{ heading_size }} mobile--{{ heading_size_mobile }}'>{{ title }}</h2>
      </div>
    {%- endif -%}

    <div class='hover_image-change__blocks'>

        <div class='hover_image__desktop-content'>
            <div class="hover_image__container">
                <div class='hover_image__image'>
                   <div class="hover_image__image-container"></div>
                </div>
            </div>

            <div class='hover_image__link'>
                <div class='hover_image__link_wrapper'>
                    {% for block in section.blocks %}
                    <div class="hover_image__link--link{% if forloop.index == 1 %} active{% endif %} {{ link_text_size }} mobile--{{ link_text_size_mobile }}" data-img-src="{{ block.settings.image | image_url: master }}" data-link="" data-img-alt="{{ block.settings.image.alt }}">
                        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} {% if redirection_new_tab %}target="_blank"{% endif %} class="hover_image__link--link_text">{{ block.settings.title }}</a>
                        <img
                        src="{{- 'arrow.svg' | asset_url | image_url: 'master' -}}"
                        alt=""
                        class="hover_image__link--link_img"
                        height="17"
                        width="17"
                        loading="lazy"
                        >
                    </div>
                    {% endfor %}
                </div>
                {% if show_all_btn %}
                <div class='hover_image__link_wrapper--view-all-btn'> 
                    <div class="view-all-link">
                        <a {% if view_all_link != blank %}href="{{ view_all_link }}"{% endif %} {% if redirection_new_tab %}target="_blank"{% endif %} class="hover_image__link--view-all-link_text {{ view_all_text_size }}">{{ view_all_text }}</a>
                        <img
                            src="{{- 'right-arrow.svg' | asset_url | image_url: 'master' -}}"
                            alt=""
                            class="hover_image__link--view-all-link_img"
                            height="20"
                            width="20"
                            loading="lazy"
                        >
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class='hover_image__mobile-content'>
            {% if show_all_btn %}
                <div class='hover_image__link_wrapper--view-all-btn'> 
                    <div class="view-all-link">
                        <a {% if view_all_link != blank %}href="{{ view_all_link }}"{% endif %} {% if redirection_new_tab %}target="_blank"{% endif %} class="hover_image__link--view-all-link_text {{ view_all_text_size }}">{{ view_all_text }}</a>
                        <img
                            src="{{- 'right-arrow.svg' | asset_url | image_url: 'master' -}}"
                            alt=""
                            class="hover_image__link--view-all-link_img"
                            height="20"
                            width="20"
                            loading="lazy"
                        >
                    </div>
                </div>
            {% endif %}
            <div class='hover_image__mobile-content__inner {% if mobile_swipe %} swipe-on-mobile{% endif %}'>
                {% for block in section.blocks %}
                    <div class='mobile-content__block'>
                        <div class='block_image__container'>
                            {% assign image = block.settings.image %}
                            <img class="block_image__image" data-sizes="auto" src="{{- image | image_url: master -}}" width="100" height="100" alt="{{ image.alt | escape }}" loading="lazy"/>
                        </div>
                        <span class="hover_image__link--link_text">{{ block.settings.title }}</span>
                        {% if block.settings.link != blank %}
                          <a class="hover_image__link__link" href="{{ block.settings.link }}" {% if redirection_new_tab %}target="_blank"{% endif %}></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<script>
    const imageContainer = document.querySelector('.hover_image__image-container');
    let activeLink = document.querySelector('.hover_image__link--link.active');

    const updateImage = link => {
        if (link !== activeLink) {
            const imgSrc = link.getAttribute('data-img-src');
            const imgAlt = link.getAttribute('data-img-alt');
            const img = new Image();

            img.onload = () => {
                imageContainer.innerHTML = '';
                imageContainer.appendChild(img);
                img.classList.add('loaded');
                img.setAttribute('alt', imgAlt);
            };

            img.src = imgSrc;
            img.alt = imgAlt;

            activeLink.classList.remove('active');
            link.classList.add('active');
            activeLink = link;
        }
    };

    imageContainer.innerHTML = `<img src="${activeLink.getAttribute('data-img-src')}" alt="${activeLink.getAttribute('data-img-alt')}" class="loaded">`;

    document.querySelectorAll('.hover_image__link--link').forEach(link => {
        link.addEventListener('mouseenter', () => updateImage(link));
    });
</script>


{% schema %}
{
    "name": "Hover change image",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "container_size",
        "options": [
          {
            "value": "full-screen",
            "label": "t:sections.general_section_settings.container_size.screen_width_option"
          },
          {
            "value": "page-width",
            "label": "t:sections.general_section_settings.container_size.page_width_option"
          },
          {
            "value": "large",
            "label": "t:sections.general_section_settings.container_size.large_width_option"
          },
          {
            "value": "medium",
            "label": "t:sections.general_section_settings.container_size.medium_width_option"
          }
        ],
        "default": "large",
        "label": "t:sections.general_section_settings.container_size.label"
      },
      {
        "type": "range",
        "id": "section_spacing_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 48,
        "unit": "t:sections.general_section_settings.section_spacing_top.unit",
        "label": "t:sections.general_section_settings.section_spacing_top.label"
      },
      {
        "type": "range",
        "id": "section_spacing_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 48,
        "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
        "label": "t:sections.general_section_settings.section_spacing_bottom.label"
      },
      {
        "type": "header",
        "content": "t:sections.collage.heading_settings_header.content"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Collage",
        "label": "t:sections.collage.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.general_section_settings.label_for_heading_size_setting",
        "options": [
          {
            "value": "h0",
            "label": "t:sections.general_section_settings.heading_size_0_option"
          },
          {
            "value": "h1",
            "label": "t:sections.general_section_settings.heading_size_1_option"
          },
          {
            "value": "h2",
            "label": "t:sections.general_section_settings.heading_size_2_option"
          },
          {
            "value": "h3",
            "label": "t:sections.general_section_settings.heading_size_3_option"
          },
          {
            "value": "h4",
            "label": "t:sections.general_section_settings.heading_size_4_option"
          },
          {
            "value": "h5",
            "label": "t:sections.general_section_settings.heading_size_5_option"
          },
          {
            "value": "h6",
            "label": "t:sections.general_section_settings.heading_size_6_option"
          },
          {
            "value": "h7",
            "label": "t:sections.general_section_settings.heading_size_7_option"
          }
        ],
        "default": "h5"
      },
      {
        "type": "select",
        "id": "heading_size_mobile",
        "label": "Heading size(Mobile)",
        "options": [
          {
            "value": "h0",
            "label": "t:sections.general_section_settings.heading_size_0_option"
          },
          {
            "value": "h1",
            "label": "t:sections.general_section_settings.heading_size_1_option"
          },
          {
            "value": "h2",
            "label": "t:sections.general_section_settings.heading_size_2_option"
          },
          {
            "value": "h3",
            "label": "t:sections.general_section_settings.heading_size_3_option"
          },
          {
            "value": "h4",
            "label": "t:sections.general_section_settings.heading_size_4_option"
          },
          {
            "value": "h5",
            "label": "t:sections.general_section_settings.heading_size_5_option"
          },
          {
            "value": "h6",
            "label": "t:sections.general_section_settings.heading_size_6_option"
          },
          {
            "value": "h7",
            "label": "t:sections.general_section_settings.heading_size_7_option"
          }
        ],
        "default": "h5"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "t:sections.general_section_settings.heading_alignment_label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.general_section_settings.alignment_option_left_label"
          },
          {
            "value": "center",
            "label": "t:sections.general_section_settings.alignment_option_center_label"
          }
        ],
        "default": "left"
      },
      {
        "type": "header",
        "content": "Color - Desktop"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Section background color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "link_container_bg_color",
        "label": "Link's area background color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "image_container_bg_color",
        "label": "Image background color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "View all button"
      },
      {
        "type": "text",
        "id": "view_all_text",
        "default": "View all",
        "label": "View all text"
      },
      {
        "type": "url",
        "id": "view_all_link",
        "label": "View all button link"
      },
      {
        "type": "select",
        "id": "view_all_text_size",
        "label": "View all text size",
        "options": [
          {
            "value": "body0",
            "label": "t:sections.general_section_settings.body_size_0_option"
          },
          {
            "value": "body1",
            "label": "t:sections.general_section_settings.body_size_1_option"
          },
          {
            "value": "body2",
            "label": "t:sections.general_section_settings.body_size_2_option"
          },
          {
            "value": "body3",
            "label": "t:sections.general_section_settings.body_size_3_option"
          },
          {
            "value": "body4",
            "label": "t:sections.general_section_settings.body_size_4_option"
          },
          {
            "value": "body5",
            "label": "t:sections.general_section_settings.body_size_5_option"
          },
          {
            "value": "body6",
            "label": "t:sections.general_section_settings.body_size_6_option"
          }
        ],
        "default": "body3"
      },
      {
        "type": "header",
        "content": "Blocks"
      },
      {
        "type": "select",
        "id": "link_text_size",
        "label": "Title font size",
        "options": [
            {
              "value": "h0",
              "label": "t:sections.general_section_settings.heading_size_0_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "h7",
              "label": "t:sections.general_section_settings.heading_size_7_option"
            }
        ],
        "default": "h5"
      },
      {
        "type": "select",
        "id": "link_text_size_mobile",
        "label": "Title font size (Mobile)",
        "options": [
            {
              "value": "h0",
              "label": "t:sections.general_section_settings.heading_size_0_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "h7",
              "label": "t:sections.general_section_settings.heading_size_7_option"
            }
        ],
        "default": "h5"
      },
      {
        "type": "range",
        "id": "block_title_font_weight",
        "min": 100,
        "max": 900,
        "step": 100,
        "default": 700,
        "label": "Block title font weight"
      },
      {
        "type": "checkbox",
        "id": "show_all_btn",
        "default": true,
        "label": "Show view all button"
      },
      {
        "type": "checkbox",
        "id": "redirection_new_tab",
        "default": true,
        "label": "Blocks redirection to new tab"
      },
      {
        "type": "checkbox",
        "id": "mobile_swipe",
        "default": true,
        "label": "Enable swipe in mobile"
      },
      {
        "type": "header",
        "content": "Color - Mobile"
      },
      {
        "type": "color",
        "id": "section_bg_color_mobile",
        "label": "Section background color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "image_container_bg_color_mobile",
        "label": "Image background color",
        "default": "#000000"
      }
    ],
    "max_blocks": 10,
    "blocks": [
        {
          "type": "image",
          "name": "t:sections.collage.blocks.image.name",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "t:sections.collage.blocks.image.image.label"
            },
            {
              "type": "header",
              "content": "t:sections.collage.blocks.image.content_settings_header.content"
            },
            {
              "type": "text",
              "id": "title",
              "label": "t:sections.collage.blocks.image.title.label",
              "default": "Image with text"
            },
            {
              "type": "url",
              "id": "link",
              "label": "t:sections.collage.blocks.image.link.label"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Hover change image",
          "blocks": [
            {
              "type": "image"
            }
          ]
        }
      ]
}
{% endschema %}